.App {
  text-align: center;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.text {
  font-weight: bold;
  text-transform: uppercase;
}

.row {
  flex-direction: column;
  align-content: center;
}

.row .col-12 {
  padding: 10px 0;
}

.title {
  font-weight: bold;
}

.title span {
  font-weight: 400;
  margin-left: 20px;
}

.link {
margin-top: 100px;
}

.link a {
    color: #000;
    font-weight: bold;
}

.link a:hover {
  color: #000;
}